.navbar {
  background-color: #1c2b35 !important;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 10000;
}
.listContainer {
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
}
.listContainer li {
  margin-left: 15px;
}
.listContainer li a {
  text-decoration: none;
  color: whitesmoke;
  transition: 0.3s ease;
}
.listContainer li a:hover {
  color: #ff9900;
}

@media only screen and (max-width: 600px) {
  .logo-img {
    width: 100px;
  }
}
